<ion-content no-bounce>
  <div class="reset-password-background"></div>
  <ion-grid no-padding>
    <ion-row justify-content-center no-padding>
      <ion-col col-sm-8 col-lg-6 col-xl-4 align-self-center no-padding>
        <div class="reset-password-header" text-center>
          <h1 translate>APP_NAME</h1>
          <h6>v{{version}}</h6>
          <ion-list *ngIf="isWeb" color="primary" no-lines no-margin>
            <ion-item color="primary">
              <ion-label><span translate>Language</span></ion-label>
              <ion-select [ngModel]="currentLanguage" (ngModelChange)="setLanguage($event)" interface="popover">
                <ion-option *ngFor="let language of languages" [value]="language">{{language}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
        <div class="reset-password-container">
          <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" novalidate>
            <div padding ion-text color="danger" [hidden]="!error || resetPasswordForm.dirty" translate>
              Username or password incorrect.
            </div>
            <ion-list>
              <ion-item>
                <ion-label floating>{{'Old Password' | translate}}</ion-label>
                <ion-input type="password" formControlName="oldPassword"></ion-input>
              </ion-item>
              <div padding [hidden]="resetPasswordForm.controls.oldPassword.valid || resetPasswordForm.controls.oldPassword.untouched"
                   ion-text color="danger" translate>
                Old password is required
              </div>
              <ion-item>
                <ion-label floating>{{'New Password' | translate}}</ion-label>
                <ion-input type="password" formControlName="newPassword"></ion-input>
              </ion-item>
              <div padding [hidden]="resetPasswordForm.controls.newPassword.valid || resetPasswordForm.controls.newPassword.untouched"
                   ion-text color="danger" translate>
                New password is required
              </div>
            </ion-list>
            <div padding-horizontal>
              <button type="submit" [disabled]="resetPasswordForm.invalid" ion-button color="primary" block>
                <span translate>reset-password</span>
              </button>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
