<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!--<ion-title><span translate>Reservations</span></ion-title>-->
      <ion-item>
        <ion-label>Property</ion-label>
        <ion-select [(ngModel)]="propertyNameFilter">
          <ion-option value="Aruban Jewel">Aruban Jewel</ion-option>
          <ion-option value="Blue Breeze">Blue Breeze</ion-option>
          <ion-option value="Casa Tran">Casa Tranquila</ion-option>
          <ion-option value="Confederate">Confederate</ion-option>
          <ion-option value="Dushi Iguana">Dushi Iquana</ion-option>
          <ion-option value="Dushi Tortuga">Dushi Tortuga</ion-option>
          <ion-option value="Palm Beach">Palm Beach</ion-option>
          <ion-option value="Turnberry">Turnberry</ion-option>
        </ion-select>
      </ion-item>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let reservation of reservations">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>{{reservation.propertyName}}</h2>
          </ion-col>
          <ion-col>
            <h2>{{reservation.checkInDate | date: "MMM dd"}} - {{reservation.checkOutDate | date: "MMM dd"}}</h2>
          </ion-col>
          <!--<ion-col col-2>-->
              <!--<span *ngIf = "reservation.reservationSource == 'Homeaway';"><img src="assets/home-away.png"></span>-->
              <!--<span *ngIf = "reservation.reservationSource == 'MyVR';"><img src="assets/my-vr.png"></span>-->
              <!--&lt;!&ndash;<img src="assets/air-bnb.png">&ndash;&gt;-->
              <!--&lt;!&ndash;<h3>{{reservation.reservationSource}}</h3>&ndash;&gt;-->
              <!--&lt;!&ndash;<img src="assets/air-bnb.png">&ndash;&gt;-->
            <!--&lt;!&ndash;<h3>{{reservation.reservationSource}}</h3>&ndash;&gt;-->
          <!--</ion-col>-->
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <p>{{reservation.lastName}} · {{reservation.guestsNum}}
              <span *ngIf = "reservation.apartment;">
                ·
                <ion-icon name="home"></ion-icon>
              </span>
            </p>
          </ion-col>
          <ion-col col-6="">
            <p>{{reservation.meetTime}}</p>
          </ion-col>
          <ion-col>
            <!--<div ng-if="reservation.apartment == true">-->
            <!--</div>-->
            <!--<h3>Apt: {{reservation.apartment}}</h3>-->
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-thumbnail item-end>
        <img *ngIf = "reservation.reservationSource == 'Airbnb';" src="assets/air-bnb.png">
        <img *ngIf = "reservation.reservationSource == 'MyVR';" src="assets/my-vr-logo.gif">
        <img *ngIf = "reservation.reservationSource == 'Homeaway';" src="assets/home-away-logo.png">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>

