<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!--<ion-title><span translate>Reservations</span></ion-title>-->
      <ion-item>
        <ion-label>Property</ion-label>
        <ion-select [(ngModel)]="propertyNameFilter">
          <ion-option value="Aruban Jewel">Aruban Jewel</ion-option>
          <ion-option value="Blue Breeze">Blue Breeze</ion-option>
          <ion-option value="Casa Tran">Casa Tranquila</ion-option>
          <ion-option value="Confederate">Confederate</ion-option>
          <ion-option value="Dushi Iguana">Dushi Iquana</ion-option>
          <ion-option value="Dushi Tortuga">Dushi Tortuga</ion-option>
          <ion-option value="Palm Beach">Palm Beach</ion-option>
          <ion-option value="Turnberry">Turnberry</ion-option>
        </ion-select>
      </ion-item>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let reservation of reservations">
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <h3>{{reservation.propertyName}}</h3>
          </ion-col>
          <ion-col col-4>
            <h3>{{reservation.checkInDate | date: "MMM dd"}} - {{reservation.checkOutDate | date: "MMM dd"}}</h3>
          </ion-col>
          <ion-col col-4>
            <h3>{{reservation.reservationSource}}</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <h3>{{reservation.lastName}} - {{reservation.guestsNum}}</h3>
          </ion-col>
          <ion-col col-4>
            <h3>{{reservation.meetTime}}</h3>
          </ion-col>
          <ion-col col-4>
            <ion-icon name="home"></ion-icon>
            <!--<div ng-if="reservation.apartment == true">-->
            <!--</div>-->
            <!--<h3>Apt: {{reservation.apartment}}</h3>-->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

